body{
    
    color: #4A2C2A;
    background-color: #f8fcff;
    
}

h1,h2{
    color:#0F4C81;
}

#a{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    
}

#b{
    font-size: 20px;
    word-spacing: 70px;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #2e4e73;
}

#c{
    text-align: center;
    

}

#d{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    align-content: center;
    text-align: center;
    background-color: white;
    
    
}

#e{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    align-content: center;
    text-align: center;
    background-color: white;

    
}

#f{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    align-content: center;
    text-align: center;
    background-color: white;

    
}

#parent{
    display: flex;
    justify-content: center;   /* centers all three boxes */
    gap: 25px;                 /* spacing between the boxes */
    margin-top: 30px;
}

#g{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    align-content: center;
    text-align: center;
    background-color: white;

    
}

#h{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    align-content: center;
    text-align: center;
    background-color: white;

    
    
}

#parent2{
    display: flex;
    justify-content: center;   /* centers all three boxes */
    gap: 25px;                 /* spacing between the boxes */
    margin-top: 30px;
}

p{
    font-size: larger;
    color: black;
}

label,input,textarea{
    color: black;
}

#i{
    background-color: #2b7cff;
    color:white;

}

#j{
    background-color: #2b7cff;
    color:white;
    
}
